
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div style="margin:300px auto;">
    <h1 style="text-align:center">Giao diện chung dành cho ADMIN để quản lý website</h1>
</div>


